.testimonial {
	background-color: rgba(255, 255, 255, .8);
	padding: 0 1.81rem 1px;
	margin-bottom: 98px;

	&__photo {
		border-radius: 50%;
		border: 6px solid rgba(255, 255, 255, .8);
		overflow: hidden;
		margin: 0 auto -80px auto;
		width: 160px;
		height: 160px;
		position: relative;
		top: -80px;
		
	}

	h3 {
		color: $mainBlue;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}
	h4 {
		color: $mainOrange;
		text-align: center;
		margin-top: 0;
	}
}